/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.root .page.theme_dark {
	--page-background-color: #000028;
	--title-color: #db00ff;
	--accent-color: #ff0070;
	--background-color: #ff0070;
	--rec-color: #ff0070;
	--section-card-title-color: #000028;
	--section-card-text-color: #f1b2ce;
	--border-opacity-color: #ff007066;
	--cover-image: url(../images/cover-image-dark.png);
}
