/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
	/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
	font-family: 'IBM Plex mono', monospace;
	background-image: var(--cover-image);
	background-color: var(--page-background-color);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.header {
	display: grid;
	grid-template-rows: 1fr min-content 1fr;
	block-size: 100vh;
	padding: 10px;
}

.decorated-zone {
	position: relative;
}

.decorated-zone::before {
	content: '';
	position: absolute;
	top: 10px;
	right: 10px;
	block-size: 25px;
	inline-size: 25px;
	border-right: 1px solid var(--accent-color);
	border-top: 1px solid var(--accent-color);
}

.decorated-zone::after {
	content: '';
	position: absolute;
	bottom: 10px;
	left: 10px;
	block-size: 25px;
	inline-size: 25px;
	border-left: 1px solid var(--accent-color);
	border-bottom: 1px solid var(--accent-color);
}

.header__rec {
	display: flex;
	align-items: center;
	position: absolute;
	top: 10px;
	right: 19px;
	color: #ff0070;
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
}

.header__rec::after {
	content: '';
	display: inline-block;
	block-size: 9px;
	inline-size: 9px;
	margin-inline-start: 10px;
	border-radius: 50%;
	background-color: var(--accent-color);
	box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
	align-self: center;
	justify-self: flex-end;
}

.header__theme-menu-list {
	display: grid;
	gap: 10px;
	align-content: end;
	justify-content: center;
}

.header__theme-menu-button {
	font-size: 18px;
	font-weight: 400;
	text-transform: lowercase;
	color: var(--accent-color);
	padding: 0 13px;
	background-color: transparent;
	border: 1px solid transparent;
	cursor: pointer;
}

.header__theme-menu-button:hover {
	border-color: var(--border-opacity-color);
}

.header__theme-menu-button:focus {
	outline: 0;
}

.header__theme-menu-button:focus-visible {
	border-bottom: 1px solid;
}

.header__theme-menu-button_active {
	border: 1px solid;
	pointer-events: none;
}

.header__title {
	font-size: var(--title-font-size);
	color: var(--title-color);
	line-height: 83%;
	text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
	align-self: center;
	justify-self: flex-end;
	max-inline-size: 491px;
}

.title-decor {
	font-weight: 700;
	line-height: 130%;
	font-size: 18px;
	color: var(--section-card-title-color);
	background-color: var(--accent-color);
}

.main {
	display: grid;
	gap: 51px;
	margin: 40px 10px 40px 10px;
}

.main__section {
	display: grid;
}

.main__section-title {
	font-weight: 700;
	font-size: 18px;
	color: var(--accent-color);
}

.main__section-card {
	margin-block-start: 20px;
}

.main__section-card-title {
	line-height: 130%;
}

.main__section-card-subtitle {
	font-weight: 400;
	margin-block-start: 20px;
}

.main__section-card-text {
	font-weight: 400;
	font-size: 18px;
	line-height: 130%;
	margin-block-start: 10px;
	color: var(--section-card-text-color);
}

.main__section-card-image {
	margin-block-start: 10px;
	max-width: 355px;
}

.footer {
  display: flex;
	justify-content: center;
  block-size: 100vh;
}

.footer__title {
  align-self: center;
  font-size: var(--title-font-size);
	color: var(--title-color);
	line-height: 83%;
	text-shadow: 4px 4px 0 var(--accent-color);
}
