/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
	/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
	font-family: 'IBM Plex mono', monospace;
	background-image: var(--cover-image);
	background-color: var(--page-background-color);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.header {
	display: grid;
	grid-template-rows: 1fr min-content 1fr;
	block-size: 100vh;
	padding: 10px;
}

.decorated-zone {
	position: relative;
}

.decorated-zone::before {
	content: '';
	position: absolute;
	top: 10px;
	right: 10px;
	block-size: 25px;
	inline-size: 25px;
	border-right: 1px solid var(--accent-color);
	border-top: 1px solid var(--accent-color);
}

.decorated-zone::after {
	content: '';
	position: absolute;
	bottom: 10px;
	left: 10px;
	block-size: 25px;
	inline-size: 25px;
	border-left: 1px solid var(--accent-color);
	border-bottom: 1px solid var(--accent-color);
}

.header__rec {
	display: flex;
	align-items: center;
	position: absolute;
	top: 10px;
	right: 19px;
	color: var(--rec-color);
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
}

.header__rec::after {
	content: '';
	display: inline-block;
	block-size: 9px;
	inline-size: 9px;
	margin-inline-start: 10px;
	border-radius: 50%;
	background-color: var(--rec-color);
	box-shadow: 0 0 4px 2px var(--rec-color);
}

.header__theme-menu {
	align-self: center;
	justify-self: flex-end;
}

.header__theme-menu-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
}

.header__theme-menu-button {
	font-size: 18px;
	font-weight: 400;
	text-transform: lowercase;
	color: var(--accent-color);
	padding: 0 13px;
	background-color: transparent;
	border: 1px solid transparent;
	cursor: pointer;
}

.header__theme-menu-button:hover {
	border-color: var(--border-opacity-color);
}

.header__theme-menu-button:focus {
	outline: 0;
}

.header__theme-menu-button:focus-visible {
	border-bottom: 1px solid;
}

.header__theme-menu-button_active {
	border: 1px solid;
	pointer-events: none;
}

.header__title {
	font-size: var(--title-font-size);
	color: var(--title-color);
	line-height: 83%;
	text-shadow: 4px 4px 0 var(--background-color);
}

.header__text {
	align-self: center;
	justify-self: flex-end;
	max-inline-size: 491px;
}

.title-decor {
	font-weight: 700;
	line-height: 130%;
	font-size: 18px;
	color: var(--section-card-title-color);
	background-color: var(--background-color);
}

.main {
	display: grid;
	gap: 51px;
	margin: 40px 10px;
}

.main__section {
	display: grid;
}

.main__section:last-of-type {
	gap: 10px;
}

.main__section-title {
	font-weight: 700;
	font-size: 18px;
	color: var(--accent-color);
	margin-block-end: 20px;
}

.main__section-card:not(:first-of-type) {
	margin-block-start: 20px;
}

.main__section-card-title {
	line-height: 130%;
}

.main__section-card-subtitle {
	font-weight: 400;
	margin-block-start: 20px;
}

.main__section-card-text {
	font-weight: 400;
	font-size: 18px;
	line-height: 130%;
	margin-block-start: 10px;
	color: var(--section-card-text-color);
}

.main__section-card-image {
	inline-size: 100%;
}

.main__link {
	text-shadow: 1px 2px 0px var(--accent-color);
	text-decoration: none;
}

.footer {
	display: flex;
	justify-content: center;
	block-size: 100vh;
}

.footer__title {
	align-self: center;
	font-size: var(--title-font-size);
	color: var(--title-color);
	line-height: 83%;
	text-shadow: 2px 2px 0 var(--background-color);
}

@media (width >= 768px) {
	.header__title {
		margin-inline-start: -20px;
	}

	.header__title,
	.footer__title {
		--title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
	}

	.header {
		padding: 20px;
	}

	.decorated-zone::before {
		content: '';
		top: 20px;
		right: 20px;
	}

	.decorated-zone::after {
		content: '';
		bottom: 20px;
		left: 20px;
	}

	.header__rec {
		top: 20px;
		right: 29px;
	}

	.header__text {
		inline-size: 50%;
	}

	.main {
		gap: 80px;
		margin: 60px 20px;
	}

	.main__section:first-of-type {
		grid-template-columns: 1fr 2fr;
		gap: 20px;
	}

	.main__section:nth-of-type(2) .main__section-title {
		width: 30%;
	}

	.main__section:nth-of-type(3) {
		grid-template-columns: 1fr 2fr;
		gap: 20px;
	}

	.main__section:last-of-type {
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-flow: row dense;
		gap: 20px;
	}

	.main__section:last-of-type .main__section-card-title {
		grid-column: 1/-1;
	}

	.main__section-card-image {
		height: 100%;
		object-fit: cover;
	}

	.landscape {
		grid-column: span 2;
	}

	.portrait {
		grid-row: span 2;
	}
}

@media (width >= 1024px) {
	.header__theme-menu-list {
		flex-direction: row;
	}

	.header__theme-menu {
		align-self: flex-start;
		justify-self: center;
	}

	.main__section:first-of-type {
		gap: 10px;
	}

	.main__section:nth-of-type(2) .main__section-cards-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 20px;
	}

	.main__section:nth-of-type(2) .main__section-card:not(:first-of-type) {
		margin-block-start: 0;
	}

	.main__section:nth-of-type(3) {
		gap: 10px;
	}
}
